<!-- i18n & l10n Template -->
<ion-view title="i18n & l10n">
<ion-nav-buttons side="left">
	<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>

<ion-content ng-controller="LocalizationCtrl" padding="true" >
	
	<!-- Action buttons -->
	<button on-tap="translateToEnglish()" class="button button-clear button-positive">English</button>
	<button on-tap="translateToSpanish()" class="button button-clear button-positive">Spanish</button>
	
	<!-- Content -->
	<h3>{{'title' | translate }}</h3>
	<p>{{'story' | translate }}</p>
	<p><strong>{{'author' | translate }}</strong></p>
	<p translate="date" translate-values="{ date: '2014/09/29'}"></p>

</ion-content>

</ion-view>