<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <!-- Scrolling -->
        <ion-item nav-clear menu-close href="#/app/scrolling">
          Scrolling
        </ion-item>

        <!-- Table Sticky Headers -->
        <ion-item nav-clear menu-close href="#/app/localization">
         Localizations (i18n & l10n )
        </ion-item>

        <!-- Navigation -->
        <ion-item nav-clear menu-close href="#/app/navigation">
          Navigation
        </ion-item>

        <!-- Table Editing -->
        <ion-item nav-clear menu-close href="#/app/tbediting">
          Table Editing
        </ion-item>

        <!-- Table Re-ordering -->
        <ion-item nav-clear menu-close href="#/app/tbreordering">
          Table Re-ordering
        </ion-item>

        <!-- Table Sticky Headers -->
        <ion-item nav-clear menu-close href="#/app/tbheaders">
          Table Sticky Headers
        </ion-item>

        <!-- Theming -->
        <ion-item nav-clear menu-close href="#/app/theming">
          Theming
        </ion-item>

        <!-- Lists; don't touch yet -->
        <!-- <ion-item nav-clear menu-close href="#/app/playlists">
          Table Sticky Headers
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Theming
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>