<!-- Navigation Demo Template -->

<ion-view title="Navigation">
	<ion-nav-buttons side="left">
	<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<!-- Dashboard Tab -->
	<ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
	<ion-nav-view name="tab-dash"></ion-nav-view>
	</ion-tab>

	<div class="tabs">
	<a class="tab-item">
	Home
	</a>
	<a class="tab-item">
	Favorites
	</a>
	<a class="tab-item">
	Settings
	</a>
	</div>

</ion-view>