<!-- Table Sticky Headers Demo Template -->
<ion-view title="Table Headers, nonsticky">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
	<ion-content>
		<div class="list">
			<div class="item item-divider">News</div>
			<a class="item" href="#"> News 1 </a>
			<a class="item" href="#"> News 2 </a>
			<a class="item" href="#"> News 3 </a>
			<a class="item" href="#"> News 4 </a>
			<a class="item" href="#"> News 5 </a>
			<a class="item" href="#"> News 6 </a>
			<a class="item" href="#"> News 7 </a>
			<div class="item item-divider"> Sports </div>
			<a class="item" href="#"> Sports 1 </a>
			<a class="item" href="#"> Sports 2 </a>
			<a class="item" href="#"> Sports 3 </a>
			<a class="item" href="#"> Sports 4 </a>
			<a class="item" href="#"> Sports 5 </a>
			<a class="item" href="#"> Sports 6 </a>
			<div class="item item-divider">Home Improvement</div>
			<a class="item" href="#"> Home Improvement 1 </a>
			<a class="item" href="#"> Home Improvement 2 </a>
			<a class="item" href="#"> Home Improvement 3 </a>
			<a class="item" href="#"> Home Improvement 4 </a>
			<a class="item" href="#"> Home Improvement 5 </a>
			<a class="item" href="#"> Home Improvement 6 </a>
			<a class="item" href="#"> Home Improvement 7 </a>
			<div class="item item-divider"> Vacations </div>
			<a class="item" href="#"> Vacation 1 </a>
			<a class="item" href="#"> Vacation 2 </a>
			<a class="item" href="#"> Vacation 3 </a>
			<a class="item" href="#"> Vacation 4 </a>
			<a class="item" href="#"> Vacation 5 </a>
			<a class="item" href="#"> Vacation 6 </a>
		</div>
	</ion-content>
</ion-view>

 