<!-- This template is used to demostrate how Tables re-ordering works -->
<ion-view title="Table Reordering">
	
	<ion-nav-buttons side="left">
		<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<ion-content ng-controller="TableReorderingCtrl" >
		<ion-list show-reorder="true">
			<ion-item ng-repeat="item in items" item="item">
				Item {{ item.id }}
				<ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)">
				</ion-reorder-button>
			</ion-item>
		</ion-list>
	</ion-content>
	
</ion-view>
